In [15]:
import pandas as pd
import jenkspy

"""twitter = {
    #'NoTweet': [34,13,11,39,126,28,8,26,5,1,29,0,0,2,0,27,0,0],
    'Re1': [4,0,4,7,1,0,0,5,1,0,1,0,0,0,0,2,0,0]
}"""
#df = pd.DataFrame(twitter)
df = pd.read_csv(r'Twitter_Re_Fav.csv')
df

    Re2  Fav2
0     2     1
1     1     2
2     1     0
3     2     1
4     1     0
5     1     4
6     4     4
7     1     0
8     2     1
9     1     0
10    1     0
11    1     0
12    2     1

In [19]:
df['RatingRe1'] = pd.cut(
    df['Re2'],
    bins=jenkspy.jenks_breaks(df['Re2'], nb_class=2),
    labels=['1', '2'],
    include_lowest=True)
df

    Re2  Fav2 RatingRe1
0     2     1         1
1     1     2         1
2     1     0         1
3     2     1         1
4     1     0         1
5     1     4         1
6     4     4         2
7     1     0         1
8     2     1         1
9     1     0         1
10    1     0         1
11    1     0         1
12    2     1         1

In [17]:
df['RatingFav1'] = pd.cut(
    df['Fav2'],
    bins=jenkspy.jenks_breaks(df['Fav2'], nb_class=5),
    labels=['1', '2', '3', '4' , '5'],
    include_lowest=True)

ValueError: Bin edges must be unique: array([0., 0., 0., 1., 2., 4.]).
You can drop duplicate edges by setting the 'duplicates' kwarg

In [9]:
df.to_csv(r'Twitter_Re_Fav.csv')
df

    Re1  Fav1 RatingRe1 RatingFav1
0     7     2         1          1
1    17    46         2          2
2     2     8         1          1
3    13    14         1          1
4    25    25         2          2
5   116   137         3          3
6     5     8         1          1
7   192   233         4          4
8   324   467         5          5
9     0     0         1          1
10    0     1         1          1
11   76   126         3          3
12    0     0         1          1
13    4     3         1          1
14    0     0         1          1
15    3     2         1          1
16    2     2         1          1
17    2     1         1          1
18    1     0         1          1
19    1     3         1          1
20    2     3         1          1
21    1     0         1          1
22    1     0         1          1
23    1     0         1          1
24    1     3         1          1
25    1     0         1          1
26   36    42         2          2
27  335   440         5          5
28    5     8         1          1
29    1     0         1          1
30    1     5         1          1
31    1     3         1          1
32   27    28         2          2
33   76   147         3          3

In [19]:
df[df['cut_jenksv3'].str.contains('R_1') == True]

    NoTweet cut_jenksv3
8         5         R_1
9         1         R_1
11        0         R_1
12        0         R_1
13        2         R_1
14        0         R_1
16        0         R_1
17        0         R_1

In [20]:
df[df['cut_jenksv3'].str.contains('R_2') == True]

   NoTweet cut_jenksv3
1       13         R_2
2       11         R_2
6        8         R_2

In [21]:
df[df['cut_jenksv3'].str.contains('R_3') == True]

    NoTweet cut_jenksv3
5        28         R_3
7        26         R_3
10       29         R_3
15       27         R_3

In [22]:
df[df['cut_jenksv3'].str.contains('R_4') == True]

   NoTweet cut_jenksv3
0       34         R_4
3       39         R_4