In [1]:
import pandas as pd
import numpy as np
import string

df = pd.read_csv(r'C:\Users\paton\Pick2ReadData\TwitterSearch\readawrite_hash_nodup_4.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

print(df.index)
df.pic = [str(col) + 'small.gif' for col in df.pic]

#df = df[df['category'].str.contains('Lovely|Secret')]
#df = df[(df['category'] == 'นิยายรัก') | (df['category'] == 'นิยายรักว้าวุ่น') | (df['category'] == 'นิยายรักวัยรุ่น')| (df['category'] == 'นิยายโรมานซ์')]
#df = df[(df['category'] == 'นิยายรักสำหรับผู้ใหญ่') | (df['category'] == 'นิยายอีโรติก')]
#df = df[df['category'] == 'นิยายรักจีนโบราณ']
#df = df[df['category'].str.contains('Girl Love|Yuri')]
#df = df[df['category'].str.contains('ดราม่า')]
#df = df[df['category'].str.contains('แฟนตาซี')]
#df = df[df['category'].str.contains('แฟนฟิค')]
#df = df[df['category'].str.contains('ลึกลับ')]
df = df[df['category'].str.contains('ผจญภัย')]

df.reset_index(drop=True, inplace=True)
print(df['category'].unique())
df
#df3[df3['hashtag'].str.contains('')==True].head(50)

RangeIndex(start=0, stop=11161, step=1)
['นิยายผจญภัย/บู๊แอ็คชั่น/กำลังภายใน']

,author,category,commentCount,description,favouriteCount,isComplete,numOfchap,pic,ratingCount,tag,title,url,viewer,new_title,hashtag
0,Sakuna2380,นิยายผจญภัย/บู๊แอ็คชั่น/กำลังภายใน,0,ยุคที่รกร้างและแห้งแล้ง สัตว์อสูร ปีศาจ เทพเจ้...,3,จบ,0.0,https://cdn.readawrite.com/articles/374/373310...,0,NaN,Rise of Humanity#จอมราชันย์กระบี่เทพมังกรฟ้า,https://www.readawrite.com/a/2z8oq0,"1,161",NaN,จอมราชันย์กระบี่เทพมังกรฟ้า
1,สีใส [See-Sai],นิยายผจญภัย/บู๊แอ็คชั่น/กำลังภายใน,2,เมื่อเขาทะลุมิติไปเป็นพระเอกในนิยายโบราณ กลายเ...,65,จบ,6.0,https://cdn.readawrite.com/articles/321/320680...,2.0,"จอมยุทธ์,นิยายจีน,นิยายจีนโบราณ,ทะลุมิติ",ว่าด้วยการเป็นมารครองภพ #มารครองภพ,https://www.readawrite.com/a/vz7gra,"2,026",ว่าด้วยการเป็นมารครองภพ,มารครองภพ

In [2]:
#hashtag
hashtag = df['hashtag'].tolist()
hfile = []
for i in hashtag:
    name = '#'+str(i)+'.xlsx'
    hfile.append(name)

In [3]:
import os.path
from os import path
i = 0
count = 0
folder = 'C:/Users/paton/Downloads/ReadAWrite+Nodup_4_Hash/' 
noTweet = []
noAccountReview = []
noHashReview = []
for file in hfile:
    name = os.path.join(folder,file)
    #print(name)
    if path.exists(name): 
        #print(name)
        #print(hashtag[i])
        exec("%s = pd.read_excel('%s')" % (hashtag[i],name))
        exec("%s['user_descriptions_owner'] = %s['user_descriptions_owner'].astype('object')" % (hashtag[i],hashtag[i]))
        exec("%s.drop('Unnamed: 0', axis=1, inplace=True)" % (hashtag[i]))
        exec("noTweet.append(len(%s.index))" % (hashtag[i]))
        exec("noAccountReview.append(len(%s[%s['user_descriptions_owner'].str.contains('แนะนำนิยาย|รีวิวนิยาย') == True]))" % (hashtag[i],hashtag[i]))
        exec("noHashReview.append(len(%s[%s['text'].str.contains('#แนะนำนิยาย|#รีวิวนิยาย') == True]))" % (hashtag[i],hashtag[i]))
        count = count + 1
    else:
        noTweet.append(np.nan)
        noAccountReview.append(np.nan)
        noHashReview.append(np.nan)
    i = i+1
df['countTweet'] = noTweet
df['countAccountReview'] = noAccountReview
df['countHashReview'] = noHashReview
print('hashtag')
print(count)

hashtag
0

In [4]:
"""(df['column2'] == 2) & (data['column1'] > 90)
data['column2'][mask] = 3"""
df2 = df[df['countHashReview'].notnull()]
df2.reset_index(drop=True, inplace=True)
print(df2['countHashReview'].unique())
df2

[]

Empty DataFrame
Columns: [author, category, commentCount, description, favouriteCount, isComplete, numOfchap, pic, ratingCount, tag, title, url, viewer, new_title, hashtag, countTweet, countAccountReview, countHashReview]
Index: []

In [5]:
#Calculate rating for twitter
inTweet = df[df['countTweet'].notnull()]
inTweet.reset_index(drop=True, inplace=True)

inTweet['ratingNoTweet_q'] = pd.qcut(inTweet['countTweet'], 5, labels=False, duplicates = 'drop')
inTweet['ratingNoTweet_q'] = inTweet['ratingNoTweet_q'].astype('float64')

"""inTweet['ratingNoTweet_q'] = inTweet['ratingNoTweet_q'].replace(0.0,1.25)
inTweet['ratingNoTweet_q'] = inTweet['ratingNoTweet_q'].replace(1.0,2.5)
inTweet['ratingNoTweet_q'] = inTweet['ratingNoTweet_q'].replace(2.0,3.75)
inTweet['ratingNoTweet_q'] = inTweet['ratingNoTweet_q'].replace(3.0,5)"""

inTweet['ratingHashReview_q'] = pd.qcut(inTweet['countHashReview'], 5, labels=False, duplicates = 'drop')
inTweet['ratingHashReview_q'] = inTweet['ratingHashReview_q'].astype('float64')

df2['ratingHashReview_q'] = pd.qcut(df2['countHashReview'], 5, labels=False, duplicates = 'drop')

df2['ratingHashReview_q'] = df2['ratingHashReview_q'].astype('float64')
#df2['ratingHashReview_q'] = df2['ratingHashReview_q'].replace(0.0,2.5)
#df2['ratingHashReview_q'] = df2['ratingHashReview_q'].replace(1.0,5)

#df2['ratingHashReview_q'][df2['countHashReview'] == 0.0] = 1.0
#df2['ratingHashReview_q'][df2['countHashReview'] == 1.0] = 3.35
#df2['ratingHashReview_q'][df2['countHashReview'] == 4.0] = 5.0
df2 = df2[['title','ratingHashReview_q']]


inTweet = inTweet[['title', 'ratingNoTweet_q', ]]
#inTweet[['countHashReview']][inTweet['countHashReview']>1.0].sort_values(by = 'countHashReview', ascending = False)
inTweet

Empty DataFrame
Columns: [title, ratingNoTweet_q]
Index: []

In [6]:
print('q')
print(inTweet['ratingNoTweet_q'].unique())
print('df2')
print(df2['ratingHashReview_q'].unique())
#len(inTweet)
#inTweet['ratingTwitter3'].sort()
#inTweet.sort_values(by='ratingTwitter4', ascending=False)

q
[]
df2
[]

In [7]:
df = df.join(inTweet.set_index('title'), on='title', how='left')
df = df.join(df2.set_index('title'), on='title', how='left')
inTweet.dtypes

title               object
ratingNoTweet_q    float64
dtype: object

In [8]:
df['ratingNoTweet_q'] = df['ratingNoTweet_q'].fillna(0)
df['ratingHashReview_q'] = df['ratingHashReview_q'].fillna(0)
df[['title','countTweet','ratingNoTweet_q','ratingHashReview_q']].sort_values(by = 'countTweet', ascending = False)

,title,countTweet,ratingNoTweet_q,ratingHashReview_q
0,Rise of Humanity#จอมราชันย์กระบี่เทพมังกรฟ้า,NaN,0.0,0.0
1,ว่าด้วยการเป็นมารครองภพ #มารครองภพ,NaN,0.0,0.0

In [9]:
#rating of website
df['ratingCount'] = df['ratingCount'].str.replace(',', '')
df['viewer'] = df['viewer'].str.replace(',', '')
df['favouriteCount'] = df['favouriteCount'].str.replace(',', '')
df[['ratingCount', 'viewer','favouriteCount']] = df[['ratingCount', 'viewer','favouriteCount']].apply(pd.to_numeric)

df['ratingLike_q'] = pd.qcut(df['ratingCount'], 5, labels=[1,2,3,4,5])
df['ratingView_q'] = pd.qcut(df['viewer'], 5, labels=[1,2,3,4,5])
df['ratingAdd2Fav_q'] = pd.qcut(df['favouriteCount'], 5, labels=[1,2,3,4,5])

df[['ratingView_q','ratingLike_q','ratingAdd2Fav_q']] = df[['ratingView_q','ratingLike_q','ratingAdd2Fav_q']].astype('float64')

#df['ratingWebsite'] = (((df.ratingView_q*2)+(df.ratingLike_q))/3).round(1)
df['ratingWebsite'] = ((df.ratingView_q+df.ratingLike_q+df.ratingAdd2Fav_q)/3).round(1)

#check
print(df['ratingLike_q'].unique())
print(df['ratingView_q'].unique())
print(df['ratingAdd2Fav_q'].unique())

df[['title','viewer','ratingCount','ratingView_q','ratingLike_q','ratingAdd2Fav_q','ratingWebsite']]

[1. 5.]
[1. 5.]
[1. 5.]

,title,viewer,ratingCount,ratingView_q,ratingLike_q,ratingAdd2Fav_q,ratingWebsite
0,Rise of Humanity#จอมราชันย์กระบี่เทพมังกรฟ้า,1161,0.0,1.0,1.0,1.0,1.0
1,ว่าด้วยการเป็นมารครองภพ #มารครองภพ,2026,2.0,5.0,5.0,5.0,5.0

In [10]:
df[['title','viewer','ratingCount','ratingView_q','ratingLike_q','ratingWebsite','ratingAdd2Fav_q']][df['viewer'] == 3.0].sort_values(by='viewer', ascending = False).head(60) 
df[['title','viewer','ratingCount','ratingView_q','ratingLike_q','ratingWebsite','ratingAdd2Fav_q']][(df['viewer'] > 800) & (df['viewer'] < 1000)].sort_values(by='ratingCount',ascending = False)
df[['title','viewer','ratingCount','ratingView_q','ratingLike_q','ratingWebsite','ratingAdd2Fav_q']].sort_values(by=['ratingWebsite','ratingCount'], ascending = False).head(50)

,title,viewer,ratingCount,ratingView_q,ratingLike_q,ratingWebsite,ratingAdd2Fav_q
1,ว่าด้วยการเป็นมารครองภพ #มารครองภพ,2026,2.0,5.0,5.0,5.0,5.0
0,Rise of Humanity#จอมราชันย์กระบี่เทพมังกรฟ้า,1161,0.0,1.0,1.0,1.0,1.0

In [11]:
#ver 1
top = 96.0
w_hReview = 78/top
w_view = 96/top
w_like = 74/top
w_NoTweet = 70/top
w_add2Fav = 88/top

df['finalRating1'] = ((df.ratingLike_q+df.ratingView_q+df.ratingAdd2Fav_q+df.ratingNoTweet_q+df.ratingHashReview_q)/5).round(1)
df['finalRating1'].values[df['finalRating1'].values < 1.0] = 1.0

df['finalRating1_w'] = (((df.ratingLike_q*w_like)+(df.ratingView_q*w_view)+(df.ratingAdd2Fav_q*w_add2Fav)+(df.ratingNoTweet_q*w_NoTweet)+(df.ratingHashReview_q*w_hReview))/(w_view+w_like+w_add2Fav+w_NoTweet+w_hReview)).round(1)
df['finalRating1_w'].values[df['finalRating1_w'].values < 1.0] = 1.0

df['finalRating2'] = ((df.ratingLike_q+df.ratingView_q+df.ratingAdd2Fav_q+df.ratingNoTweet_q)/4).round(1)
df['finalRating2'].values[df['finalRating2'].values < 1.0] = 1.0

df['finalRating2_w'] = (((df.ratingLike_q*w_like)+(df.ratingView_q*w_view)+(df.ratingAdd2Fav_q*w_add2Fav)+(df.ratingNoTweet_q*w_NoTweet))/(w_view+w_like+w_add2Fav+w_NoTweet)).round(1)
df['finalRating2_w'].values[df['finalRating2_w'].values < 1.0] = 1.0

df['finalRating3'] = ((df.ratingLike_q+df.ratingView_q+df.ratingAdd2Fav_q)/3).round(1)
df['finalRating3'].values[df['finalRating3'].values < 1.0] = 1.0

df['finalRating3_w'] = (((df.ratingLike_q*w_like)+(df.ratingView_q*w_view)+(df.ratingAdd2Fav_q*w_add2Fav))/(w_view+w_like+w_add2Fav)).round(1)
df['finalRating3_w'].values[df['finalRating3_w'].values < 1.0] = 1.0

df[['title','viewer','ratingCount','favouriteCount','hashtag','ratingAdd2Fav_q','ratingView_q','ratingLike_q','ratingNoTweet_q','finalRating1','finalRating1_w','finalRating2','finalRating2_w','finalRating3','finalRating3_w']].sort_values(by='finalRating1', ascending  = False).head(10)

,title,viewer,ratingCount,favouriteCount,hashtag,ratingAdd2Fav_q,ratingView_q,ratingLike_q,ratingNoTweet_q,finalRating1,finalRating1_w,finalRating2,finalRating2_w,finalRating3,finalRating3_w
1,ว่าด้วยการเป็นมารครองภพ #มารครองภพ,2026,2.0,65,มารครองภพ,5.0,5.0,5.0,0.0,3.0,3.2,3.8,3.9,5.0,5.0
0,Rise of Humanity#จอมราชันย์กระบี่เทพมังกรฟ้า,1161,0.0,3,จอมราชันย์กระบี่เทพมังกรฟ้า,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0

In [12]:
df.to_excel(r'C:\Users\paton\Pick2ReadData\Rating\rating_v8_AdvantureAction.xlsx')
df.dtypes
df

,author,category,commentCount,description,favouriteCount,isComplete,numOfchap,pic,ratingCount,tag,...,ratingLike_q,ratingView_q,ratingAdd2Fav_q,ratingWebsite,finalRating1,finalRating1_w,finalRating2,finalRating2_w,finalRating3,finalRating3_w
0,Sakuna2380,นิยายผจญภัย/บู๊แอ็คชั่น/กำลังภายใน,0,ยุคที่รกร้างและแห้งแล้ง สัตว์อสูร ปีศาจ เทพเจ้...,3,จบ,0.0,https://cdn.readawrite.com/articles/374/373310...,0.0,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,สีใส [See-Sai],นิยายผจญภัย/บู๊แอ็คชั่น/กำลังภายใน,2,เมื่อเขาทะลุมิติไปเป็นพระเอกในนิยายโบราณ กลายเ...,65,จบ,6.0,https://cdn.readawrite.com/articles/321/320680...,2.0,"จอมยุทธ์,นิยายจีน,นิยายจีนโบราณ,ทะลุมิติ",...,5.0,5.0,5.0,5.0,3.0,3.2,3.8,3.9,5.0,5.0